### Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Local OS metadata ###
.DS_Store
**/.DS_Store

### Local runtime output ###
logs/

### Stuff that has been and could get generated in project directory
*.log
*.versionsBackup